.products{
  margin: 80px 10px;
}

h2 {
  text-align: center;
  padding: 10px;
  font-size: 40px;
}


.share-button{
  background: rgb(8, 116, 229);
  padding: 4px;
  color: white;
  border: 2px solid black;
  margin-bottom: 15px;
  width:60px;
  height:35px;
}

.icon{
  margin-right: 30px;
  width:30px;
  height:30px;
}


.rating {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.product {
  display: flex;
  justify-content: center;
  font-family: Georgia, serif;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(122, 118, 118, 0.5);
}

.product-name {
  margin-left: 100px;
  width: 400px;
}

.product-img {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.name {
  background-color: rgb(8, 116, 229);
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}


.img-product {
  height: 150px;
}
